<section class="banner">
  <figure class="banner image">
    <img src="assets/imgs/banner.jpg" width="100%" alt="banner"/>
    <div class="content">
      <figure class="avatar image round">
        <img src="assets/imgs/avatar.jpg" width="80px" height="80px" alt="Junior Usca Huacasi"/>
      </figure>
      <h2>Junior Usca Huacasi</h2>
    </div>
  </figure>
</section>
