<footer class="footer">
  <div class="wrapper">
    <section class="flicker">
      Imagenes
    </section>
    <section class="tags">
      Tags
    </section>
    <section class="popular">
      Popular posts
    </section>
    <section class="footertop">
      © All rights reserved | Junior Usca Huacasi
      <ul class="list">
        <li class="item"><a href="#">Resume</a></li>
        <li class="item"><a href="#">Blog</a></li>
        <li class="item"><a href="#">Portafolio</a></li>
        <li class="item"><a href="#">Contact</a></li>
      </ul>
    </section>
  </div>
</footer>
