<header class="header">
    <a href="#" class="icon-menu"></a>
    <nav class="menu">
      <a href="#" class="logo">Junior Usca</a>
      <ul class="list">
        <li class="item active">
          <a href="#">Resume</a>
        </li>
        <li class="item">
          <a href="#">Blog</a>
        </li>
        <li class="item">
          <a href="#">Portafolio</a>
        </li>
        <li class="item">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="submenu">
      <ul class="list">
        <li class="item">
          <a href="#"></a>
        </li>
        <li class="item">
          <a href="#"></a>
        </li>
        <li class="item">
          <a href="#"></a>
        </li>
        <li class="item">
          <a href="#"></a>
        </li>
      </ul>
    </div>
    <div class="title">
      <h1>Resume</h1>
    </div>
  </header>