<div class="main container">
  <section class="overview">
    <p>Soy <strong>Junior Usca Huacasi</strong>, trabajo de forma <i>Freelancer</i>. Me encanta aprender cosaas nuevas, en especial los clusters</p>
    <p>En los últimos años he aprendido mucho, quiero seguir dando lo mejor de mi</p>
    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd>junior.usca@gmail.com</dd>
      <dt>Phone:</dt>
      <dd>(+51) 935 088 511</dd>
      <dt>WebSite:</dt>
      <dd><a href="https://juniorusca.github.io">juniorusca.github.io</a></dd>
      <dt>Address:</dt>
      <dd>Arequipa - Peru</dd>
    </dl>
  </section>
  <div class="wrapper">
    <section class="experience card">
      <h3>Experiences</h3>
      <div class="timeline">
        <article class="event">
          <div class="left-content">
            <div class="date">2017</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de Software</h1>
            <h2 class="subtitle">VEX Soluciones, Lima-Perú</h2>
            <span class="range">01/11/2016-31/05/2017</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2016</div>
          </div>
          <div class="right-content">
            <h1 class="title">Prácticas, desarrollo e investigación</h1>
            <h2 class="subtitle">FABLAB Tecsup, Arequipa-Perú</h2>
            <span class="range">18/07/2016-20/12/2016</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2016</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de Software</h1>
            <h2 class="subtitle">VEX Soluciones, Lima-Perú</h2>
            <span class="range">10/02/2016-31/05/2016</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2015</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de Software</h1>
            <h2 class="subtitle">Gaion Electronic, Arequia-Perú</h2>
            <span class="range">28/09/2014-25/06/2015</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2014</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de WebSites</h1>
            <h2 class="subtitle">BSP Consultores, Arequia-Perú</h2>
            <span class="range">28/06/2014-24/01/2015</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2014</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de WebSite</h1>
            <h2 class="subtitle">Voces entre Tablas, Arequia-Perú</h2>
            <span class="range">10/06/2014-24/06/2014</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2014</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de Software</h1>
            <h2 class="subtitle">Kunan.pe, Arequia-Perú</h2>
            <span class="range">10/04/2014-31/05/2014</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2012</div>
          </div>
          <div class="right-content">
            <h1 class="title">Desarrollo de ERP</h1>
            <h2 class="subtitle">Óptica Jireh Visión, Arequipa-Perú</h2>
            <span class="range">17/08/2012-01/03/2013</span>
          </div>
        </article>
      </div>
    </section>
    <section class="certificates card">
      <h3>Certificates</h3>
      <div class="timeline">
        <article class="event">
          <div class="left-content">
            <div class="date">2017</div>
          </div>
          <div class="right-content">
            <h1 class="title">Curso Esencial de Wordpress</h1>
            <h2 class="subtitle">Certificado por Platzi.com</h2>
            <span class="range">10/03/2017</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2017</div>
          </div>
          <div class="right-content">
            <h1 class="title">Curso Profesional de Git y GitHub</h1>
            <h2 class="subtitle">Certificado por Platzi.com</h2>
            <span class="range">24/02/2017</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2016</div>
          </div>
          <div class="right-content">
            <h1 class="title">Conducta Responsable en Investigación</h1>
            <h2 class="subtitle">Certificado por Quipu Org</h2>
            <span class="range">28/06/2016</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2016</div>
          </div>
          <div class="right-content">
            <h1 class="title">Python Avanzado y Django Avanzado</h1>
            <h2 class="subtitle">Certificado por Inka Labs</h2>
            <span class="range">27/01/2016</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2015</div>
          </div>
          <div class="right-content">
            <h1 class="title">XLI Conferencia Latinoamericana de Informática</h1>
            <h2 class="subtitle">Certificado de Asistente por Centro Latinoamericano de Estudios en Informática</h2>
            <span class="range">23/10/2015</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2014</div>
          </div>
          <div class="right-content">
            <h1 class="title">Simposio Peruano de Robótica y Automatización Industrial, Competencias Peruanas de Robótica y Automatización Industrial, Olimpiadas de Robótica para Escolares - Clasificación a Robocup junior 2014</h1>
            <h2 class="subtitle">Certificado de Colaborador y Asistente por Centro Latinoamericano de Estudios en Informática</h2>
            <span class="range">21/10/2014</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2013</div>
          </div>
          <div class="right-content">
            <h1 class="title">XXVI Conference on Graphics, Pattern and Images SIBGRAPI</h1>
            <h2 class="subtitle">Certificado de Colaborador y Asistente por Brazilian Computer Society</h2>
            <span class="range">08/08/2013</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2013</div>
          </div>
          <div class="right-content">
            <h1 class="title">Human Computer Interaction</h1>
            <h2 class="subtitle">Curso dictado por "University of California, San Diego" en Coursera Org</h2>
            <span class="range">12/06/2013</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2013</div>
          </div>
          <div class="right-content">
            <h1 class="title">Algorithms: Design and Analysis</h1>
            <h2 class="subtitle">Curso dictado por "Standford University" en Coursera Org</h2>
            <span class="range">16/04/2013</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2012</div>
          </div>
          <div class="right-content">
            <h1 class="title">Heterogeneous Parallel Programing</h1>
            <h2 class="subtitle">Curso dictado por "University of Illinois at Urbana" en Coursera Org</h2>
            <span class="range">24/09/2012</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2012</div>
          </div>
          <div class="right-content">
            <h1 class="title">Lenguaje de Programación C++</h1>
            <h2 class="subtitle">Certificado por Instituto Superior Hipólito Unanue</h2>
            <span class="range">22/07/2012</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2011</div>
          </div>
          <div class="right-content">
            <h1 class="title">Introduction to DataBases</h1>
            <h2 class="subtitle">Curso dictado por "Standford University" en Coursera Org</h2>
            <span class="range">18/07/2011</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2009</div>
          </div>
          <div class="right-content">
            <h1 class="title">Diseño Gráfico</h1>
            <h2 class="subtitle">Certificado Modular por Instituto Tekno's</h2>
            <span class="range">30/06/2009</span>
          </div>
        </article>
      </div>
    </section>
    <section class="education card">
      <h3>Education</h3>
      <div class="timeline">
        <article class="event">
          <div class="left-content">
            <div class="date">2016</div>
          </div>
          <div class="right-content">
            <h1 class="title">Educación Superior</h1>
            <h2 class="subtitle">Ciencia de la computación - Universidad Nacional de San Agustin</h2>
            <span class="range">2010 - 2016</span>
          </div>
        </article>
        <article class="event">
          <div class="left-content">
            <div class="date">2008</div>
          </div>
          <div class="right-content">
            <h1 class="title">Educación Secundaria</h1>
            <h2 class="subtitle">Colegio "Salesianos Don Bosco"</h2>
            <span class="range">2004-2008</span>
          </div>
        </article>
      </div>
    </section>
  </div>

  <section class="skills card">
    <h3>Skills</h3>
    <div class="skill cplusplus">
      <span class="left-content icon devicon-cplusplus-plain"></span>
      <div class="right-content">
        <span class="title">C / C++</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill nodejs">
      <span class="left-content icon devicon-nodejs-plain"></span>
      <div class="right-content">
        <span class="title">JS / NodeJS</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill css3">
      <span class="left-content icon devicon-css3-plain"></span>
      <div class="right-content">
        <span class="title">HTML5 / CSS3</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill devos">
      <span class="left-content icon devicon-amazonwebservices-original"></span>
      <div class="right-content">
        <span class="title">DevOS</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill android">
      <span class="left-content icon devicon-android-plain"></span>
      <div class="right-content">
        <span class="title">Android</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill angularjs">
      <span class="left-content icon devicon-angularjs-plain"></span>
      <div class="right-content">
        <span class="title">AngularJS / Ionic</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill reactjs">
      <span class="left-content icon devicon-react-original"></span>
      <div class="right-content">
        <span class="title">ReactJS</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill docker">
      <span class="left-content icon devicon-docker-plain"></span>
      <div class="right-content">
        <span class="title">Docker</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill git">
      <span class="left-content icon devicon-git-plain"></span>
      <div class="right-content">
        <span class="title">Git</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill java">
      <span class="left-content icon devicon-java-plain"></span>
      <div class="right-content">
        <span class="title">Java</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill csharp">
      <span class="left-content icon devicon-csharp-plain"></span>
      <div class="right-content">
        <span class="title">C#</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill php">
      <span class="left-content icon devicon-php-plain"></span>
      <div class="right-content">
        <span class="title">PHP</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill codeigniter">
      <span class="left-content icon devicon-codeigniter-plain"></span>
      <div class="right-content">
        <span class="title">Codeigniter</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill wordpress">
      <span class="left-content icon devicon-wordpress-plain"></span>
      <div class="right-content">
        <span class="title">Wordpress</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill python">
      <span class="left-content icon devicon-python-plain"></span>
      <div class="right-content">
        <span class="title">Python / Scrapy</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill django">
      <span class="left-content icon devicon-django-plain"></span>
      <div class="right-content">
        <span class="title">Django</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill arduino">
      <span class="left-content icon devicon-devicon-plain"></span>
      <div class="right-content">
        <span class="title">Arduino</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill processing">
      <span class="left-content icon devicon-devicon-plain"></span>
      <div class="right-content">
        <span class="title">Processing</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill mysql">
      <span class="left-content icon devicon-mysql-plain"></span>
      <div class="right-content">
        <span class="title">MySql / MariaDB</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill postgresql">
      <span class="left-content icon devicon-postgresql-plain"></span>
      <div class="right-content">
        <span class="title">PostgreSql / Postgis</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill mongodb">
      <span class="left-content icon devicon-mongodb-plain"></span>
      <div class="right-content">
        <span class="title">MongoDB</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill hypertable">
      <span class="left-content icon devicon-webpack-plain"></span>
      <div class="right-content">
        <span class="title">Hypertable</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill neo4j">
      <span class="left-content icon devicon-devicon-plain"></span>
      <div class="right-content">
        <span class="title">Neo4J</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill hbase">
      <span class="left-content icon devicon-apache-plain"></span>
      <div class="right-content">
        <span class="title">HBase</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill hadoop">
      <span class="left-content icon devicon-devicon-plain"></span>
      <div class="right-content">
        <span class="title">Hadoop</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
    <div class="skill unity">
      <span class="left-content icon devicon-devicon-plain"></span>
      <div class="right-content">
        <span class="title">Unity / Construct</span>
        <div class="bar"><div class="state"></div></div>
      </div>
    </div>
  </section>
</div>